button {
    background: inherit;
    border: none;
    font-size: 1em;
    color: var(--linkColor);
    cursor: pointer;
}

button:hover {
    color: var(--linkHoverColor);
}

button:disabled {
    color: var(--disabledColor);
    text-decoration: line-through;
}
