// Fonts
$fontColor: #23add7;
$breadCrumbColor: chartreuse;
$disabledColor: grey;
$errorColor: red;

// Button
$linkColor: hotpink;
$linkHoverColor: limegreen;

// Background
$bodyColor: #082832;
$terminalColor: #082933;
