@import 'variables.scss', 'colors.scss', 'errors.scss', 'terminal.scss', 'button.scss', 'form.scss';

$break-small: 411px;
$break-medium: 850px;
$break-large: 1000px;

html {
  background: $bodyColor;
  font-size: var(--base-font-size);
  font-family: monospace, sans-serif;
  color: $fontColor;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1000px auto;
}

h1 {
  font-size: 3em;
  @media screen and (max-width: $break-small) {
    font-size: 6em;
  }
}

#app { 
  grid-column: 2 / span 1;
  background: $terminalColor;
  padding: 18px;
}