input[type="text"] {
    background: inherit;
    border: none;
    outline: none;
    cursor: text;
    color: var(--fontColor);
    font-size: 1em;
    caret-color: var(--breadCrumbColor);
    margin-top: 5px;
}

.terminal {
    position: sticky;
    bottom: 0;
    padding: 20px 0 40px 0;
    overflow-x: auto;
    width: 100%;
    background: inherit;
}
